.description {
  padding: 10px;

  .tip {
    display: flex;

    .title {
      margin-right: 5px;
    }

    .help {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .linkText:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.card {
  background-color: var(--semi-color-bg-1);
}
