version: "3.3"
services:
  mysqldb:
    environment:
    - MYSQL_ROOT_PASSWORD=root123
    - MYSQL_DATABASE=trinogateway
    image: mysql:5.5
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      start_period: 20s
      timeout: 5s
      retries: 5
    volumes:
      - target: /etc/mysql/gateway-ha-persistence.sql
        source: ../gateway-ha/src/main/resources/gateway-ha-persistence.sql
        type: bind
      - target: /etc/mysql/add_backends.sql
        source: ./add_backends.sql
        type: bind
  trino-1:
    image: trinodb/trino:395
    ports:
      - "8081:8080"
  trino-2:
    image: trinodb/trino:395
    ports:
      - "8082:8080"
