name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

defaults:
  run:
    shell: bash --noprofile --norc -Eeuo pipefail {0}

env:
  # Use Maven wrapper from repo with Maven version and other configs
  MAVEN: ./mvnw -B

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [23]
    timeout-minutes: 20
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Install required Java distribution
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
      - name: Build with Maven
        run: $MAVEN clean verify
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: amd64,arm64,ppc64le
      - name: Build and Test Docker Image
        run: docker/build.sh
      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.12.1
