name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

defaults:
  run:
    shell: bash --noprofile --norc -euo pipefail {0}

env:
  # Use Maven wrapper from repo with Maven version and other configs
  MAVEN: ./mvnw -B

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Maven
        run: $MAVEN clean verify
      - uses: docker/setup-qemu-action@v2
        with:
          platforms: amd64,arm64,ppc64le
      - name: Build and Test Docker Image
        if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'with-images')
        run: docker/build.sh
